<!DOCTYPE html>
<html lang="en">

    <style>
    body {
        background-image: url("https://wallpapercave.com/wp/wp8179173.jpg");
        background-size: 2200px;
   
    }

    table {
        background-color: snow;
        margin-left: auto;
        margin-right: auto;
        border-style: solid;
        width: 50%;
    }

 


</style>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Client</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Client.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid" >
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="font-size:larger; font-weight:bold; font-family:Gabriola; color:#c58d60; background-color:black; opacity:.4" >&nbsp; REAL ESTATE AGENCY &nbsp; </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation" style="background-color: black; opacity:.4">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                        <li class="nav-item" >
                            <a class="nav-link text-dark" asp-area="" asp-controller="CreateNew" asp-action="Add" style="font-size:larger; opacity:.8; font-weight:bold; background-color:#c58d60; font-family:Gabriola">Add new real estate </a>
                            
                        </li>
                        &nbsp;
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ShowEstates" asp-action="Show" style="color:black; opacity:.8; background-color:#c58d60;  font-size:larger; font-weight:bold; font-family:Gabriola">Show all estates </a>
                        </li>
                        &nbsp;
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AddReservation" asp-action="Add" style="color:black; opacity:.8; background-color:#c58d60;  font-size:larger; font-weight:bold; font-family:Gabriola">Make a reservation </a>
                        </li>
                       @* &nbsp;
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="History" asp-action="ShowAll" style="color:black; background-color:#c58d60;  font-size:larger; font-weight:bold; font-family:Gabriola">Reservations history</a>
                        </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
           @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
