@{
    ViewData["Title"] = "Home Page";
}
<style>
    h1{
        font-family: Gabriola;
        color: black;
       
        font-size: 60px;
    }

    p{
        font-family: Gabriola;
        color: #c58d60;
        background-color:black;
        opacity:.4;

        font-size: 40px;
    }

</style>

<div style="float:right; margin-right:-170px; text-align:center">
    <h1>Welcome to our agency</h1>
    <br />
    <hr />
    <p> We develop and invest in high-quality <br /> 
        real estate properties, projects and <br />
        companies that are shaping the urban <br />
        fabric in dynamic cities around the world! <br />
        We strive to develop and invest in high-quality <br />
        real estate properties, projects and companies <br />
        that are shaping the urban fabric in dynamic <br />
        cities around the world. 
    </p>
</div>
