
@{
    ViewData["Title"] = "View";
}

<style>
   
        h1 {
        font-family: Gabriola;
        font-size:x-large;
        text-align: center;
        vertical-align: middle;
        font-size: 50px;
        color:black;
        font-weight:bold;
        background-color:#c58d60;
        opacity:.4;
    }
    h3 {
        font-family: Gabriola;
        font-size:large;
        text-align: center;
        vertical-align: middle;
        font-size: 50px;
        color:red;
        font-weight:bold;
    }


    
    div.grid-item {
        font-family:Gabriola;
        font-size: 30px;
        text-align: center;
        display: inline-grid;
        border-style: solid;
        margin: 1px;
        background-color:white;
        color:black;
    }

    div.grid-item2 {
        font-family:Gabriola;
        font-size: 30px;
        text-align: center;
        display: inline-grid;
        border-style: solid;
        margin: 1px;
        background-color:white;
        color:black;
        
        outline-color:dimgray;
    }
   

</style>


<h1>Add new estate</h1>
<hr />
<h3>@ViewData["Error"] </h3>

<form action="~/CreateNew/Add" method="post">
    <div class="grid-item" style="float:right; margin-right:-170px; text-align:center">
        
        <div class="grid-item2" style="grid-column:1; grid-row:1">
            Estate name:
            <input type="text" required name="Name" />
        </div>
        
        <div class="grid-item2" style="grid-column:1; grid-row:2">
            Place:
            <input type="text" required name="Place" />
        </div>
        
        <div class="grid-item2" style="grid-column:1; grid-row:3">
            Renting Price:
            <input type="number" required name="RentingPrice" />
        </div>
        <hr />
        <div class="grid-item" style="grid-column:1; grid-row:5; background-color:white">
            <input type="submit" class="submit" value="RESERVE" style="background-color:#c58d60"/>
        </div>

    </div>

</form>


